.image1 {
  background: url('../images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image2 {
  background: url('../images/players.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}